<div class="display-flexbox">
  <div *ngIf="!isCartEmpty(); else elseBlock">
    <h2>Your cart is empty!</h2>
  </div>
  <ng-template #elseBlock>
    <div class="cart-table">
      <app-cart-line
        *ngFor="let cartProduct of cart"
        [cartProduct]="cartProduct"
        (increaseEvent)="increase($event)"
        (decreaseEvent)="decrease($event)"
        (removeEvent)="remove($event)"
      ></app-cart-line>
    </div>
    <div class="details-bar">
      <div class="user-form">
        <app-order-form></app-order-form>
      </div>
      <div class="order-total">
        <h2>Total</h2>
        <h2><app-currency [price]="getCartTotal()"></app-currency></h2>
      </div>
    </div>
  </ng-template>
  <button class="add-button" backButton>Back</button>
</div>
