/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  width: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.input {
  display: inline-block;
  width: 30px;
}
